:root {
    --white: #fff;
    --smooth-black: #161616;
    --light-gray: #edeff0;
    --gray: #aaa;
    --dark-gray: #3d3d3d;
    --red: #ff4646;
    --green: #46aa46;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:focus {
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    cursor: pointer;
}

h3 {
    font-size: 1.25em;
    margin: 0.5em 0;
}

.news-item--title {
    font-family: sans-serif;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
    cursor: pointer;
}

.news-item--description, .news-item--link {
    font-family: 'Georgia', serif;
}


/***************
GENERAL SETTINGS
****************/

html, body {
    min-height: 100%;
}

body {
    font-size: 16px;
    background: var(--light-gray);
    padding: 0;
    margin: 0;
}

main {
    background: var(--white);
    width: 1080px;
    margin: 0 auto;
}

.main-wrapper {
    padding: 1em;
}


/***************
HEADER SETTINGS
****************/

header {
    background: var(--smooth-black);
    padding: 0.25em;
    min-width: 1080px;
}

.title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
    width: 1080px;
    margin: 0 auto;
    color: var(--white);
}

.title span {
    color: var(--red);
}


/***************
DATE FILTERING
****************/


#dates {
    padding: 2%;
    width: 45%;
    margin: 0 auto;
    font-family: sans-serif;
}

#dates.error::before {
    display: block;
    content: 'Пожалуйста, проверьте правильность выбранных дат';
    font-size: 0.65em;
    color: var(--white);
    background: var(--red);
    border-radius: 0.5em;
    width: 100%;
    padding: 0.5em;
    border: 3px dotted var(--red);
}

.calendar {
    padding: 1em;
    background: var(--light-gray);
    border-radius: 0.5em;
    cursor: pointer;
}

.calendar .header {
    padding: 0.5em;
}

.header {
    background: var(--dark-gray);
    border-radius: 0.5em;
    color: var(--white);
    font-weight: bold;
}

.header .month {
    width: 100%;
}

.header .year {    
    margin-top: 0.25em;  
}

.year .yearValue {
    border: none;
    padding: 0.25em;
    width: 100%;
    border-radius: 0.15em;      
}

.month-btn {
    width: 15%;
    border: none;
    border-radius: 0.2em;
    color: var(--white);
    font-size: 1em;
    background: var(--smooth-black);
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

.month-btn.next,
#to {
    float: right;
}

.month-btn.prev,
.month-placeholder,
#from {
    float: left;
}

.month-placeholder {
    width: 70%;
    text-align: center;
}

.dateHolder {
    padding: 0.5em;
}

.daysTab {
    font-size: 0.8em;
}

.daysTab td {
    padding: 0.20em;
    text-align: center;
    border-radius: 0.2em;
    -webkit-transition: background-color .15s ease-out;
    transition: background-color .15s ease-out;
}

td.selected {
    background: var(--red);
    color: var(--white);
}

.btn-panel {
    width: 100%;
    float: left;
    text-align: center;
    background: var(--light-gray);
    border-radius: 0.5em;
    margin-top: 0.5em;
    padding: 0.3em;
}

.date-filter-btn {
    width: 40%;
    border: none;
    border-radius: 0.5em;
    font-size: 0.75em;
    padding: 0.5em;
    margin: 0.25em;
    color: var(--white);
    background: var(--smooth-black);
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

/***************
NEWS BLOCK
****************/

.news-row {
    width: 100%;
}

.news-item {
    width: 32.5%;
    margin: 0.25%;
    padding: 0.5em;
    float: left;
}

.news-item--preview {
    position: relative;
}

.news-item--preview img {
    width: 100%;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: -webkit-filter .3s ease-out;
    transition: -webkit-filter .3s ease-out;
    transition: filter .3s ease-out;
    transition: filter .3s ease-out, -webkit-filter .3s ease-out;
}

.news-item--date {
    font-family: sans-serif;
    font-size: 0.75em;
    color: var(--gray);
}

.news-item--category {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.75em;
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0.4em;
    background: var(--red);
    border-bottom-right-radius: 0.5em;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.loadmore {
    width: 100%;
    padding: 0.75em;
    text-align: center;
    background: var(--light-gray);
    cursor: pointer;
}

.loadmore p {
    font-family: sans-serif;
    font-size: 0.75em;
    color: var(--gray);
}

/***************
HOVER TRANSITIONS
****************/

.news-item:hover .news-item--title {
    color: var(--red);
}

.news-item:hover .news-item--preview img {
    -webkit-filter: grayscale(0.15);
            filter: grayscale(0.15);
}

#filter-cancel:hover, .month-btn:hover {
    background: var(--red);
}

#filter-apply:hover {
    background: var(--green);
}